<div class="job-block">
    <div style="display: inline-flex; width: 100%">
        <div class="cont-block-title">
            <a href="/job/${job_id}" style="color:white; text-decoration: none;">${job_name}</a>
        </div>
    </div>
    <div style="display: inline-flex; width: 100%">
        <div class="cont-block" style="width: 100%; min-width: fit-content;padding: 0 3;">
            ${pos_field} / ${pos_name}
        </div>
        <div class="cont-block" style="min-width: 120;">
            ${lo_sal} ~ ${hi_sal}
        </div>
        <div class="cont-block" style="min-width: 120;">
            ${area_cctd}
        </div>
        <div class="cont-block" style="min-width: 75;">
            <form action="/delfav" method="POST" style="margin-bottom: 0;">
                <input type="hidden" name="jid" value="${job_id}">
                <input type="image" src="./frontend/media/delete.png" style="margin-top: 3;" />
            </form>
        </div>
    </div>
</div>